*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.box{
  height: 200px;
  width: 200px;
  background-color: #82b482;
}

.page1{
  height: 100vh;
  width: 100%;
  background-color: #6d5454;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: #82b482;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: #b9b579;
}