@import "tailwindcss";


h1{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
}
