*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

button{
    padding: 10px 20px;

    font-size: 20px;
    margin: 20px;
}
h1{
    font-size: 100px;
    width: fit-content;
    margin: 20px;
    background-color: #eeb8b8; 
    padding: 10px 70px;
    border-radius: 5px;

}